<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>loginsignup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>Controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingController</display-name>
    <servlet-name>bookingController</servlet-name>
    <servlet-class>Controller.bookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingController</servlet-name>
    <url-pattern>/bookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustController</display-name>
    <servlet-name>ViewCustController</servlet-name>
    <servlet-class>Controller.ViewCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustController</servlet-name>
    <url-pattern>/ViewCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupCustController</display-name>
    <servlet-name>signupCustController</servlet-name>
    <servlet-class>Controller.signupCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupCustController</servlet-name>
    <url-pattern>/signupCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>Controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookingController</display-name>
    <servlet-name>ListBookingController</servlet-name>
    <servlet-class>Controller.ListBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookingController</servlet-name>
    <url-pattern>/ListBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginBookController</display-name>
    <servlet-name>loginBookController</servlet-name>
    <servlet-class>Controller.loginBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginBookController</servlet-name>
    <url-pattern>/loginBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookController</display-name>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>Controller.DeleteBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/DeleteBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyPaymentController</display-name>
    <servlet-name>VerifyPaymentController</servlet-name>
    <servlet-class>Controller.VerifyPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPaymentController</servlet-name>
    <url-pattern>/VerifyPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaymentController</display-name>
    <servlet-name>DeletePaymentController</servlet-name>
    <servlet-class>Controller.DeletePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaymentController</servlet-name>
    <url-pattern>/DeletePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentListController</display-name>
    <servlet-name>PaymentListController</servlet-name>
    <servlet-class>Controller.PaymentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentListController</servlet-name>
    <url-pattern>/PaymentListController</url-pattern>
  </servlet-mapping>
</web-app>